shim-version: v0.3.12@sha256:b81f2295ae6750d61e94f810ce24077360001b6ec795d13643f3170df29e304d
cvm-version: 0.6.4
cpus: 32
memory: 524288

models:
  - name: "kimi-k2.5"
    repo: "moonshotai/Kimi-K2.5@2426b45b6af0da48d0dcce71bbce6225e5c73adc"
    mpk: "c9c96761014910b27417cf54c778882504696b75c6f1239fdbb799a9570df304_595205046272_a0449c0d-91f4-55d8-851d-748c732abdec"
  
containers:
  - name: "kimi-k2-thinking"
    image: "vllm/vllm-openai:v0.15.0-cu130@sha256:3616a215acaf3748c88d4b7f37a63710fd4181e3732ef952c03778a32746ed60"
    runtime: nvidia
    gpus: all
    ipc: host
    command: [
      "--model", "/tinfoil/mpk/mpk-c9c96761014910b27417cf54c778882504696b75c6f1239fdbb799a9570df304",
      "--tensor-parallel-size", "8",
      "--mm-encoder-tp-mode", "data",
      "--served-model-name", "kimi-k2.5",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "kimi_k2",
      "--reasoning-parser", "kimi_k2",
      "--trust-remote-code",
      "--no-enable-prefix-caching",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/chat/completions
    - /metrics
    - /health
